
<button mat-raised-button color="accent" (click)="showPanelTab()" >Edit</button>

<form (submit)="editGame(nom, categorie, description, console, game._id)" [hidden]="showPanel">
  <div class="example-container">
    <mat-form-field style="width: 250px">
      <input matInput placeholder="Nom" [value]="game._nom" #nom >
    </mat-form-field>

    <mat-form-field style="width: 250px">
      <input matInput placeholder="Catégorie" #categorie [value]="game._categorie">
    </mat-form-field>

    <mat-form-field style="width: 250px">
      <textarea matInput placeholder="Description" #description [value]="game._description" ></textarea>
    </mat-form-field>

    <mat-form-field style="width: 250px">
      <mat-select placeholder="Console" #console  [value]="game._console">
        <mat-option value="Play Station">PS</mat-option>
        <mat-option value="GameBoy">GameBoy</mat-option>
        <mat-option value="Sega">Sega</mat-option>
        <mat-option value="Nitendo">Nitendo</mat-option>
        <mat-option value="Witch">Witch</mat-option>
        <mat-option value="Game Cube">Game Cube</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <button mat-raised-button color="primary" type="submit">Edit Item</button>
  </div>
</form>